
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="...\javascript\header.js"></script>
<div class="page-header">    
<div class="row-container">
        <div class="logo"><img id="vitLogo" alt="vitLogo.png" src="images/logo1.png"><img id="selectLogo" alt="selectLogo.png" src="images/SELECTlogo.png"></div>
        
        <div class="heading-row"><span id="heading-full">School of Electrical Engineering</span><span id=heading-acronym>SELECT</span></div>
        
    </div>
    <div class="row-container">
        <div class="navbar">
            <div clas="navbarRow">
                <div class="nav-icon">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
            <div class="navbar-selected"><%=pageName%></div></div>
            <ul id="items">
                <li onclick="$">Home</li>
                <li onclick="$">About</li>
                <li onclick="$">Courses</li>
                <li onclick="$">Publication</li>
                <li onclick="$">Accomplishments</li>
                <li onclick="$">Faculty &amp; Teachers</li>
                <li onclick="$">Dean</li>
                <li onclick="$">Head of Departments</li>
                <li onclick="$">Labs</li>
            </ul>
            
        </div>
    </div>
    </div>

