<% include ./partials/header.ejs%>
<script type="text/javascript">
     $('.navbar-nav .active').removeClass('active');
    $('#nav-admin').addClass('active');
</script>
<div class="row">
<div class="col-md-offset-1 col-md-10">
<h3>Administration Team</h3>
      


<div class="panel" style="border-color:#072C53;">
 <div class="panel-body">
<h3>Dean of the School</h3>

<table class="table table-bordered table-striped">
<tbody>
		<tr><td width= 200px align=right ><b>Emp ID :</b></td><td align=left>10680</td><td rowspan="6" width=150px><img src="http://vit.ac.in/img/faculty/10680.jpg" width=150px height=180px alt="School Dean"></td></tr>
		<tr><td align=right ><b>Name :</b></td><td align=left>Prof. Arulmozhivarman P</td></tr>
		<tr><td align=right ><b>Designation :</b></td><td align=left>Associate Professor and Dean</td></tr>
		<tr><td align=right ><b>Department :</b></td><td align=left>Instrumentation</td></tr>
		<tr><td align=right ><b>Mobile No :</b></td><td align=left>9443311373</td></tr>
		<tr><td align=right ><b>Email ID :</b></td><td align=left>parulmozhivarman@vit.ac.in</td></tr>
</tbody>		
</table>
</div>
</div>

<div class="panel" style="border-color:#072C53;">
 
 <div class="panel-body">
<h3>Head(s) of the Department</h3>

      
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th width="8%">Sl. No</th>
              <th width="8%">Emp ID</th>
              <th width="25%">Name</th>
              <th width="20%">Designation</th>
              <th width="25%">Department</th>
	<th width="14%">Mobile No</th>
            </tr>
          </thead>
          <tbody>
          

<tr>
<td>1</td>
<td>12490</td>
<td>Prof. Meikandasivam S</td>
<td>Associate Professor</td>
<td>Electrical Engineering</td>
<td>9791396835</td>
</tr>

<tr>
<td>2</td>
<td>11051</td>
<td>Prof. Vivekanandan S</td>
<td>Associate Professor</td>
<td>Instrumentation</td>
<td>8124274447</td>
</tr>

<tr>
<td>3</td>
<td>12232</td>
<td>Prof. Umashankar S</td>
<td>Associate Professor</td>
<td>Energy and Power Electronics</td>
<td>9003260199</td>
</tr>

<tr>
<td>4</td>
<td>10529</td>
<td>Prof. Geethanjali P</td>
<td>Associate Professor</td>
<td>Control and Automation</td>
<td>9944980194</td>
</tr>


          </tbody>
        </table>
</div>
</div>
    </div>
</div>

        <!-- ####################################################################################################### -->

<% include ./partials/footer.ejs %>