<%include ./partials/header.ejs%>

<div class="container">

    <table class="table">
        <tbody>
<!-- 1 -->  <tr><td><a href="https://goo.gl/forms/z6DfxNPYBG6CLfse2">Awards Recognitions Received </a></td></tr>
            <tr><td><a href="https://goo.gl/forms/6KHwsbMc4n54OTig1">Books Published</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/iQK6WlzBuM9FfNdZ2">Chapters Published</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/Ro11HGTIJzWa1j1O2">Collaborative Activities</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/loexniIMuTiXPa2J2">Consultancy Project Works</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/HWAbFFu2l4NO8riy2">Corporate Training Details</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/rrW6ICSQuEu0nZmB2">Departmental Funded Projects</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/OPQvkl8cvLgHTEuJ3">E Content Development</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/sY8XuvTJBGyXQRaw1">Eighth Module</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/dZKQ0O5Scw7ZFxav1">Faculty Participation in conference/Seminar/Workshop/Symposium /FDP / Guest Lecture / Summer School and Financial Support details</a></td></tr>
<!-- 11-->  <tr><td><a href="https://goo.gl/forms/aIhLmLTwqrLbTN2i1">Faculty Visit Laboratories</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/6A283lBymVlS4Ahp2">FDP Initiatives</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/5oS5Sno3Hhc83zen1">Final Year Students Projects</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/U2TDRC4HiAyBVbms2">Full Paper Conference Proceedings</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/2PyzIH4lC0OUU6nI3">Industrial Visit</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/zYDK1TyLhcr9zupF3">Innovation Awards</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/o8XQFrbwhBnDl27H3">Journal Paper Publications</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/RQqsZdffz2adROCg2">JRF SRF PDF Details</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/Sn2rQIKdQkg4i2Yy1">Linkages Institution Industries</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/Xw97m8KfiRxVD7UA2">MoU Signed Details</a></td></tr>
<!--21-->   <tr><td><a href="https://goo.gl/forms/wjavABl5zEuKxrHg1">Patents Details</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/Eq8as6Qy0oYzms7W2">Sponsored Research Projects</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/XwRw8MTE6YuCPsyD3">Students Competitive Examinations</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/2TvHK1DfM0wmabQz1">Student Achievements</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/cWw0LhIL6rXLCA7y1">Student Enrichment Programmes</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/AcTL4sOrCUSAF7io2">Student Extension Activities</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/px1QljH15QnccpHF3">Student Higher Education</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/wBMeyJll5cT60uvq2">Student Internship</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/LdtfPZ1pDwEYWdBa2">Student Research Projects (other than capstone)</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/Q91zACW0fvigHJvI3">Value Added Programmes</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/2GpHinERVdvRKegT2">Testing Revenue</a></td></tr>
<!--31-->   <tr><td><a href="https://goo.gl/forms/5dHOW5QFqYkxW76F2">Virtual Laboratory</a></td></tr>
            <tr><td><a href="https://goo.gl/forms/b4eD8C9giGSll9m12">VIT Sponsored Projects (SEED)</a></td></tr>

        </tbody>
    </table>

</div>


<%include ./partials/footer.ejs%>