<% include ./partials/header.ejs%>

<%    start.forEach(function(start){ %>
   <div style="text-align:center">
    
    <div class="thumbnail">
        <img src="<%= start.image %>">
    </div>
    <div class="caption">
        <font size="15"><%= start.usecase %></font>
    </div>
    
   </div> 
<% }); %> 

<% include ./partials/footer.ejs %>
