<% include ./partials/header.ejs%>
<script type="text/javascript">
    $('.navbar-nav .active').removeClass('active');
    $('#nav-proj').addClass('active');
</script>
<a href="submit/">submit</a>
<%= msg%>
<%include ./partials/footer.ejs%>