<% include ./partials/header.ejs%>
<script type='text/javascript'>
    $('.navbar-nav .active').removeClass('active');
    $('#nav-staff').addClass('active');
</script>


<div class="row">
<div class="col-md-offset-1 col-md-10">
    <!-- ####################################################################################################### -->
 <h3>Supporting Staff</h3>
 
<div class="row">
<div class="col-md-5">

<div class="panel" style="border-color:#072C53;">
   <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Designation Based - Staff Strength</h3></div>
   <div class="panel-body">

      <table class="table table-condensed  table-hover" style="width:100%; font-size:14px;">
          <thead>
            <tr>
              <th>Sl. No</th>
              <th>Designation</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>


<tr>
<td>1</td>
<td>DEO</td>
<td>4</td>
</tr>

<tr>
<td>2</td>
<td>Technical Officer</td>
<td>4</td>
</tr>

<tr>
<td>3</td>
<td>Lab Assistant</td>
<td>5</td>
</tr>

<tr>
<td>4</td>
<td>Sr Lab Assistant</td>
<td>1</td>
</tr>

<tr>
<td>5</td>
<td>Attender</td>
<td>3</td>
</tr>

<tr>
<td>6</td>
<td>Lab Technician</td>
<td>2</td>
</tr>



          </tbody>
        </table>
	</div>
</div>
</div>
<div class="col-md-7">	



<div class="panel" style="border-color:#072C53;">
   <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> List of Supporting Staff</h3></div>
   <div class="panel-body">
   
       <table class="table table-condsensed table-hover" style="width:100%; font-size:14px;">
          <thead>
            <tr>
              <th>Sl. No</th>
              <th>Emp ID</th>
              <th>Name</th>
              <th>Designation</th>
         	<th>Mobile No</th>

            </tr>
          </thead>
          <tbody>
          

<tr>
<td>1</td>
<td>10391</td>
<td>Mr.Raja Rathinam Selvaraj</td>
<td>Technical Officer</td>
<td>9443437738</td>
</tr>

<tr>
<td>2</td>
<td>10334</td>
<td>Mr.V.M.Selvaganesan</td>
<td>Technical Officer</td>
<td>9940727073</td>
</tr>

<tr>
<td>3</td>
<td>10213</td>
<td>Mr. A. Gopi</td>
<td>Technical Officer</td>
<td>9789255727</td>
</tr>

<tr>
<td>4</td>
<td>10718</td>
<td>Mr.U.Srinivasan</td>
<td>Technical Officer</td>
<td>9944796261</td>
</tr>

<tr>
<td>5</td>
<td>10498</td>
<td>Mr.P.Venkatesh Babu</td>
<td>Lab Assistant</td>
<td>9994612144</td>
</tr>

<tr>
<td>6</td>
<td>10149</td>
<td>Mr.S.Aravindu</td>
<td>Lab Assistant</td>
<td>9655537133</td>
</tr>

<tr>
<td>7</td>
<td>10343</td>
<td>Mr.M.G.Venkataramanan</td>
<td>Lab Assistant</td>
<td>9629033970</td>
</tr>

<tr>
<td>8</td>
<td>10156</td>
<td>Mr.K.Jayaprakash</td>
<td>Lab Assistant</td>
<td>9943778878</td>
</tr>

<tr>
<td>9</td>
<td>12236</td>
<td>Mr. S. Venkatesh </td>
<td>Lab Assistant</td>
<td>9786621414</td>
</tr>

<tr>
<td>10</td>
<td>12237</td>
<td>Mr. M. Ram Kumar </td>
<td>Lab Technician</td>
<td>9626052187</td>
</tr>

<tr>
<td>11</td>
<td>12235</td>
<td>Mr. N. Sudarson </td>
<td>Lab Technician </td>
<td>9655022071</td>
</tr>

<tr>
<td>12</td>
<td>10926</td>
<td>Mrs.S.Padma</td>
<td>DEO</td>
<td>9944784809</td>
</tr>

<tr>
<td>13</td>
<td>12186</td>
<td>Mrs. D. Sasirekha</td>
<td>DEO</td>
<td>9488840591</td>
</tr>

<tr>
<td>14</td>
<td>12257</td>
<td>Mr. P. Ravi Kumar</td>
<td>DEO</td>
<td>9994878111</td>
</tr>

<tr>
<td>15</td>
<td>12109</td>
<td>Mr. S. Chandrasekar</td>
<td>Attender</td>
<td>9688612011</td>
</tr>

<tr>
<td>16</td>
<td>12826</td>
<td>Mr. S. Dinesh</td>
<td>Attender</td>
<td>9715884882</td>
</tr>

<tr>
<td>17</td>
<td>13130</td>
<td>Mr. L.Nithiyakumar </td>
<td>Attender</td>
<td>9894749599</td>
</tr>

<tr>
<td>18</td>
<td>10018</td>
<td>Mr. M Govindaraju</td>
<td>Sr. Lab Assistant</td>
<td>9629997226</td>
</tr>

<tr>
<td>19</td>
<td>10809</td>
<td>Mrs. Bhuvaneshwari S.</td>
<td>DEO</td>
<td>9655042619</td>
</tr>




          </tbody>
        </table>
</div>


      
</div>
</div>
</div>

</div>
</div>

<% include ./partials/footer.ejs %>