<%include ./partials/header.ejs%>

<div class="row">
    <form name="projectsForm" method="post">
        <input name="name1" placeholder="Enter Your name">
        <input type="submit">
    </form>
</div>

<%include ./partials/footer.ejs%>