*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding-top:100px

}
.logo #vitLogo{
    width:35vw;
    float: left;
}
.logo #selectLogo{
    width:15vw;
    float:right;
}
.row-container{
    background-color:#3b5997;
    overflow:hidden;
}
.heading-row{
    padding:10px 10px 10px 10px;
    text-align: center;
}

#heading-full{
    font-size:2em;
    color:#ffffff;
    font-family: ariel;
    text-transform: uppercase;
    cursor: default;
    display: none;
}
#heading-acronym{
    font-size:9vw;
    color:#ffffff;
    font-family: ariel;
    text-transform: uppercase;
    cursor: default;
}
.navbar{
    padding:0px 0px 3px 0px;
}

.navbar-selected{
    padding:8px 15px;
    font-size: 1.1em;
    cursor: pointer;
    color:white;
    text-align: center;
}
.nav-icon{
    float: right;
    margin: 0 4px 0 0;
}
.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 4px;
    background-color: #ebebeb;
    margin: 6px 0;
    transition: 0.4s;
}

.icon-change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.icon-change .bar2 {
    opacity: 0;
}

.icon-change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -7px);
}
#items{
    list-style: none;
    padding:0 0 3px 0;
    overflow: hidden;
    margin: 0;
    text-align: center;
}
#items li a{
    padding:8px 15px;
    font-size: 1.1em;
    cursor: pointer;
    display: block;
    color:white;
    text-decoration: none;
    
}

#items li a:hover{
    background: white;
    color:#3b5997;
    
}
.page-header{
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1;
}
    


@media screen and (min-width:1024px)
{
    #heading-acronym{
        display: none;
        
    }
    .heading-row{
        margin: 15px 0 0 0;
    }
    #heading-full{
        font-size: 2.7em;
        display:inline;
        
    }
    .logo #vitLogo{
        width: 280px
    }
    .logo #selectLogo{
        width:110px;
    }
    
    #items>li{
        float:left;
    }
    .nav-icon{
        display:none;
    }
    .navbar-selected{
        display: none;
    }
    #dropdownArrow{
        display: none;
    }
}

